@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.btn {
  margin: 5px 0 5px 0;
}

.label {
  margin: 10px 5px 10px 0px;
}

.row .glyphicon {
  margin: 5px;
}

.list-group-item {
  padding: 20px !important;
}

.post-body {
  padding: 10px 0px 10px 0px !important;
}

.media {
  margin-top: 15px !important;
}
